<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include nav.html %}

  <section class="hero center">
    <h1>{{page.title}}</h1>
    <p class="a-author">
      {%if page.author.size > 0 %}
        by {{page.author}}
      {% endif %}
    </p>
  </section>

  <div class="content markdown-body">
    {{content}}
  </div>

  <main>
    {% assign sitepages = site.blog | sort: 'order' %}
    {% for sitepage in sitepages %}
    {% assign url = page.url| remove: "index"%}
    {% assign val = sitepage.url | remove: url | split:"/" %}
      {% if sitepage.url contains url and val.size==2 %}
        <br>
        <a href="{{sitepage.url | relative_url}}" style="text-decoration: none;">
          <div class="article">
            <p class="a-title">
              {{sitepage.title}}
            </p>
            <p class="a-author">
              {%if sitepage.author.size > 0 %}
                by {{sitepage.author}}
              {% endif %}
            </p>
          </div>
        </a>
        {% endif %}
    {%endfor%}
  </main>

  {% include footer.html %}
</body>

</html>